* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* general */
.margin-20 {
  height: 100%;
  margin: 0 20%;
}
.list-clear {
  list-style-type: none;
}
.list-details {
  float: left;
  text-align: center;
  line-height: 40px;
  padding: 16px;
}
.link-details {
  color: #32495B;
  text-decoration: none;
}



/* header */
#header-top {
  height: 80px;
  width: 100%;
  font-family: 'Orbitron', sans-serif;
  background-color: #F4F9FD;
}
#header-bottom {
  height: 80px;
  width: 100%;
  background-color: white;
}
#header-background {
  height: 695px;
  width: 100%;
  background-color: #FFF4EF;
}


#header-top-left {
  float: left;
}
#header-top-right {
  float: right;
}

#icon-arrowdown {
  margin-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #32495B;
}






/* main */
#main-top {
  height: 1400px;
  width: 100%;
  background-color: #F4F9FD;
}
#main-mid {
  height: 700px;
  width: 100%;
  background-color: #00AEB3;
}
#main-bottom {
  height: 700px;
  width: 100%;
  background-color: white;
}







/* footer */
#footer-background {
  height: 700px;
  width: 100%;
  background-color: #32495B;
}
